h1{
  font-family:sans-serif;
}
h3{
  font-family:sans-serif;
  font-size: 40px;
  
  color: rgb(255, 255, 255);
}
h4{
  font-family:sans-serif;
  position: relative;
  width: 20%;
  margin-left: 40%;
  background-color: rgba(0, 0, 0, 0.616);
  color: aliceblue;
  font-size: 25px;
  text-align: center;
}
p{
  font-family:sans-serif;
}

.coder{
  background-image: url(/img/gifwallpaper.gif);
}
body{
  margin: 0%;
  background-color: rgb(0, 0, 0);
}

#rodape > div{
  background-color: rgb(41, 41, 41);
  padding: 0px;
  width: 100%;
}

.grid-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
  }
  .coder {
    width: 100%;
    background-image: url("/img/github.png");
  }
  .coder2 {
    width: 100%;
    background-image: url("/img/covid19.png");
  }
  .coder3 {
    width: 100%;
    background-image: url("/img/galeria\ animes.png");
  }
  .grid-container > div{
    background-color: rgba(0, 0, 0, 0.424);
    padding: 2%;
    width: 100%;
    text-align: center;
  }
  .grid-container > div > h1{
    font-size: 45px;
    color:rgb(255, 255, 255);
  }
  .grid-container > div > p{
    width: 100%;
    font-size: 25px;
    color:rgb(182, 182, 182);
  }
  .grid-container > div > img{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
  }
  #img_circular {
    border-radius: 200px
} 

.grid-container > div:hover{
  background:rgb(24, 24, 24);
}
.grid-container2 > div:hover{
  zoom: 100%;
  border: 1px solid rgb(255, 255, 255);
}
#rodape > div:hover{
  border: 1px solid rgb(255, 255, 255);  
}
*{
  text-decoration: none;
}

.grid-container2 {
  width: 100%;
  position: center;
  display: flex;
  justify-content: flex-start;
}
.grid-container2 > div{
  padding: 2%;
  width: 100%;
  text-align: center;
}
::-webkit-scrollbar-track {
  background-color: #adadad;
}
::-webkit-scrollbar {
  width: 6px;
  background: #a3a3a3;
}
::-webkit-scrollbar-thumb {
  background: #000000;
}
.canal {
  text-align: center;
  position: relative;
  width: 100%;
  background-image: url("/img/canal.png") ;
  background-repeat: repeat-y;
}
.coder4 {
  background-image: linear-gradient(to bottom, rgb(30, 29, 42), rgba(0, 0, 0, 0.750)),
    url(./img/wallpaper.jpg);
}
.coder5 {
  background-image: linear-gradient(to bottom, rgb(30, 29, 42), rgba(0, 0, 0, 0.750)),
    url(./img/wallpaper2.png);
}
.coder6 {
  background-image: linear-gradient(to bottom, rgb(30, 29, 42), rgba(0, 0, 0, 0.750)),
    url(./img/banner-curso-html-css.jpg);
}

.grid-container3{
  position: -webkit-sticky; /* Necessário para funcionar no Safari */
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  padding: 1%;
  height: 50%;
  width: 100%;
  text-align: center;
  color:aliceblue;
}
.grid-container3 > .flex-links {
  font-size: 15px;
  height: 50%;
  margin:0%;
  margin-left: 40px;
  display: inline-grid;
  margin-right: 1%;
}
.flex-links > a{
  font-family: sans-serif;
  margin: 1%;
  color:aliceblue;
}
