.grid-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
  }
  .coder {
    background-image: url("/img/github.png");
  }
  .coder2 {
    background-image: url("/img/covid19.png");

  }
  .coder3 {
    background-image: url("/img/galeria\ animes.png");
  }
  .grid-container > div{
    background-color: rgba(0, 0, 0, 0.424);
    padding: 5%;
    width: 100%;
    text-align: center;
  }
  .grid-container > div > h1{
    font-size: 50px;
    color:rgb(255, 255, 255);
  }
  .grid-container > div > p{
    font-size: 30px;
    color:rgb(182, 182, 182);
  }
  .grid-container > div > img{
    position: relative;
    width: 400px;
    height: 400px;
    display: inline-block;
  }
  #img_circular {
    border-radius: 200px
} 
.rodape{
  position: relative;
  display: flex;
  justify-content: center; 
}
.rodape > div{
  margin-left: 70px;   
}
head{
  display: none;
}
h3{
  font-size: 40px;
  background-color:rgba(255, 255, 255, 0.02);
  color: rgb(255, 255, 255);
}
h4{
  background-color:rgba(0, 0, 0, 0.274);
  color: aliceblue;
  font-size: 25px;
}
